.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}

.disppear {
    animation: vanish 2.7s ease-in-out forwards;;
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
